<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Info">
  <!-- 启用.net core的核心布局渲染器 -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <!-- 写入日志的目标配置 -->
  <targets>
    <!-- 调试  -->
    <target xsi:type="File" name="debug" fileName="logs/debug-${shortdate}.log" 
			layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}-|${aspnet-TraceIdentifier}|[${request_id}]">
      <attribute name="requestId" layout="${request_id}"></attribute>
    </target>
  </targets>
  <!-- 映射规则 -->
  <rules>
	  <logger name="*" minlevel="Info" writeTo="debug" />
	  
	  <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="error" />

  </rules>
</nlog>