<?xml version="1.0" encoding="utf-8"?>
<!--
此文件由 Web 项目的发布/打包过程使用。可以通过编辑此 MSBuild 文件
自定义此过程的行为。为了解与此相关的更多内容，请访问 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9b02355c-cf6a-4030-a2d8-9532786f7405/resourceGroups/MsAzureProject-rg/providers/Microsoft.Web/sites/MsAzureProject</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://msazureproject.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>29a86f3e-1b70-483f-a85f-3de6d0978827</ProjectGuid>
    <PublishUrl>https://msazureproject.scm.azurewebsites.net/</PublishUrl>
    <UserName>$MsAzureProject</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>